body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {margin: 0; height: 100%; overflow: hidden}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.protokollBody {
  display: flex;
}

.klickersBody {
display: flex;
}

.toKlickersLink {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left:-50px;
  background-color: #f7f7f7;
  border: 1px solid lightgrey;
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px 20px 0px 0px;
  text-decoration: none;
  color: black;
}
.toKlickersLink img {
  width: 40px;
  height: 25px;
}
.toKlickersLink i {
  margin: 0;
}

.toProtokollLink {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left:-50px;
  background-color: #f7f7f7;
  border: 1px solid lightgrey;
  width: 100px;
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  justify-content: center;
  border-radius: 0px 0px 20px 20px;
  text-decoration: none;
  color: black;
}
.toProtokollLink img {
  width: 40px;
  height: 25px;
  transform: rotate(180deg);
}

.redSideKlickers {
  width: 40%;
}

.blueSideKlickers {
  width: 40%;
  right: 0;
}

.redSideProtocol {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
}

.blueSideProtocol {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
  right: 0;
}

.middlePageProtocol {
  display: flex;
  width: 10%;
  align-items: center;
  flex-direction: column;
}

.middlePageProtocol p:not(:nth-child(3)) {
  padding: 10px 0px;
  font-size: 20px;
}

.middlePageProtocol p {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  width: 100%;
}

.middlePageProtocol p:last-child {
  border-bottom: 1px solid lightgrey;
}

.blueScoresTable {
  justify-content: space-around;
  width: 100%;
  display: flex;
}
.blueScoresTable div {
  width: 100%;
}
.blueScoresTable p {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid lightgrey;
  width: 100%;
}
.blueScoresTable div:nth-child(-n+2) p:not(:nth-child(n+5)) {
  border-right: 1px solid lightgrey;
}

.blueScoresTable div:nth-child(1) p:nth-child(4){
  border-bottom: 1px solid lightgrey;
}
.blueScoresTable p:not(:nth-child(1)) {
  padding: 10px 0px;
  font-size: 20px;
  width: 100%;
}
.blueScoresTable div:last-child p {
  border-left: 1px dotted lightgrey;
  border-top: 1px dotted lightgrey;
  border-right: 1px dotted lightgrey;
}

.blueScoresTable div:last-child {
  border-right: 1px dotted lightgrey;
}

.blueScoresTable div:last-child p:last-child {
  border-bottom: 1px dotted lightgrey;
}


.redScoresTable p:not(:nth-child(1)) {
  padding: 10px 0px;
  font-size: 20px;
}

.redScoresTable p {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid lightgrey;
  width: 100%;
}

.redScoresTable div:first-child p {
  border-top: 1px dotted lightgrey;
  border-right: 1px dotted lightgrey;
  border-left: 1px dotted lightgrey;
}

.redScoresTable div:first-child p:last-child {
  border-bottom: 1px dotted lightgrey;
}

.klickers {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
}
.klickerIncr {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 180px;
  border: 0;
  border-radius: 100%;
}

.klickerDecr {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border: 0;
  border-radius: 100%;
}

.flexcenter {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-self: flex-start;
  width: 100%;
}

p {
  margin: 0;
}

.pointsCount {
  font-size: 35px;
  margin-bottom: 10px;
  margin-top: 20px;
}


.red {
  background-color: red;
}
.blue {
  background-color: blue;
}

.middlePageKlickers {
  display: flex;
  width: 20%;
  align-items: center;
  margin-top: 50px;
  flex-direction: column;
}

.penaltyWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.penaltyKlickers {
  display: flex;
}

.penalityKlicker {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  background-color: #f7f7f7;
  border: 1px solid lightgrey;
}

.roundDoneButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-radius: 5px;
  width: 95%;
  background-color: rgba(0, 255, 0, 0.2)
}

.resetKlickersButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  height: 50px;
  border-radius: 5px;
  width: 95%;
  background-color: rgba(255, 0, 0, 0.2)
}

.redScoresTable {
  width: 100%;
  justify-content: space-around;
  display: flex;
}

.redScoresTable div {
  width: 100%;
}

.redScoresTable div:nth-child(n+3):not(:nth-child(-n+2)) p:not(:nth-child(n+5)) {
  border-left: 1px solid lightgrey;
}

.redScoresTable div:nth-child(2) p:nth-child(4){
  border-bottom: 1px solid lightgrey;
}

.redWinner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  color: white;
  border-radius: 100%;
}

.blueWinner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
  color: white;
  border-radius: 100%;
}

.newMatch {
  background-color: white;
  border: 1px solid lightgrey;
  background-color: #f7f7f7;
  border-radius: 5px;
  position: absolute;
  margin-top: 15px;
  height: 40px;
  width: 150px;
  font-size: 18px;
}

.notInLandscape {
  display: none;
}


@media screen and (orientation:portrait) {
  #root {
    display: none;
  }

  .notInLandscape {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }


}

@media screen and (max-height: 370px)  {

  .klickerIncr {
    width: 130px;
    height: 130px;
  }

  .klickerDecr {
    width: 50px;
    height: 50px;
  }

  .blueScoresTable p:not(:nth-child(1)) {
    font-size: 14px;
  }
  .middlePageProtocol p:not(:nth-child(3)) {
    font-size: 14px;
  }

  .redScoresTable p:not(:nth-child(1)) {
    font-size: 14px;
  }
}